<img src="../../assets/images/nosotros.jpg" alt="shop" width="500px">

<p class="text-center">
    Welcome to our urban clothing store, where fashion and style merge to offer you unique and authentic garments. We're
    passionate about streetwear and strive to offer a carefully curated selection of emerging and established brands in
    the industry. Our team consists of fashion experts who are always on the lookout for the latest trends and novelties
    in the world of streetwear. We believe that clothing should not only be comfortable and functional, but also express
    the personality and style of the wearer. We take pride in offering high-quality garments at affordable prices.
    Additionally, we're committed to sustainability and work with brands that share our ethical and environmental
    values. In summary, at Cornelia St., you'll find garments that will allow you to stand out anywhere and express
    yourself in an authentic and unique way.<br><span>We look forward to seeing you!</span>
</p>