<h2>{{idCategoria | uppercase}}</h2>

<div class="container">
    <div class="col">
        <div class="card" style="width: 18rem;" *ngFor="let articulo of articulos">
            <img [src]="articulo.fav" class="heart" alt="heart">
            <img [src]="articulo.imagen" class="card-img-top" alt="imagen producto">
            <div class="card-body">
                <h5 class="card-title">{{articulo.nombre}}</h5>
                <div class="precios">
                    <p class="card-text">{{articulo.descripcion | currency:'EUR'}}</p>
                    <p class="card-text">{{articulo.precio | currency:'EUR'}}</p>
                </div>
                <a [routerLink]="['/articulo', articulo.id]" class="btn btn-dark m-2">Ver Articulo</a>
            </div>
        </div>
    </div>
</div>