<p>Categoria de {{idCategoria}}</p>


<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card" style="width: 18rem;" *ngFor="let articulo of articulos">
                <img src="" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{articulo.getNombre()}}</h5>
                    <p class="card-text">{{articulo.getDescripcion()}}</p>
                    <a [routerLink]="['articulo',articulo.getId()]" class="btn btn-primary">Ver Articulo</a>
                </div>
            </div>
        </div>
    </div>
</div>