<h2 class="text-center">Categorías</h2>

<div class="card-group mx-5">

    <div class="card">
        <img src="..." class="card-img-top" alt="seccion-vestidos">
        <div class="card-body">
            <h5 class="card-title">Vestidos</h5>
        </div>
    </div>

    <div class="card">
        <img src="..." class="card-img-top" alt="seccion-sudaderas">
        <div class="card-body">
            <h5 class="card-title">Sudaderas</h5>
        </div>
    </div>

    <div class="card">
        <img src="..." class="card-img-top" alt="seccion-zapatos">
        <div class="card-body">
            <h5 class="card-title">Zapatos</h5>
        </div>
    </div>

</div>