$green: rgb(82, 255, 94);
$greenHover: rgb(134, 232, 140);

.col {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card {
        border: none;
        margin: 20px;
        position: relative;

        .heart {
            cursor: pointer;
            position: absolute;
            top: 8px;
            right: 16px;
            width: 20px;
        }

        .card-body {
            padding: 0;

            .precios {
                display: flex;

    
                :first-child {
                    color: black;
                    font-size: 13px;
                    text-decoration: line-through;
                }
    
                :last-child {
                    color: red;
                    font-size: 17px;
                    font-weight: bold;
                }
            }

            .btn {
                background-color: $green;
            }

            .btn:hover {
                background-color: $greenHover;
            }
        }
    }
}