img {
    height: 600px; /* La altura máxima que quieres para la imagen */
    object-fit: cover; /* Ajusta la imagen para cubrir todo el contenedor */
    width: 100%; /* Ajusta el ancho de la imagen de acuerdo al contenedor */
  }  