<div class="container" *ngFor="let art of articulo">
    <div class="imagen">
        <img [src]="art.imagen" alt="" width="400px">
    </div>
    <div class="detalles">
        <h2>{{art.nombre}}</h2>
        <p class="sec">Shop from the same collection</p>
        <p class="sec">No comments</p>
        <div class="precio">
            <p class="real">{{art.precio| currency:'EUR':'symbol':'1.2-2':'es-ES'}}</p>
            <p class="reb">{{art.descripcion| currency:'EUR':'symbol':'1.2-2':'es-ES'}}</p>
        </div>
        <hr>
        <div class="color">
            <p>Color: Green</p>
            <img [src]="art.imagen" alt="" width="50px">
        </div>
        <div class="tallas">
            <p>Size: Choose size</p>
            <img [src]="art.tallas" alt="conjunto tallas" width="300px">
            <p class="sec">Sizes guide</p>
        </div>
        <div class="botones">
            <a class="btn btn-lg">Add to the cart</a>
        </div>
        <p class="pt-3 sec">Add to the wishlist</p>
    </div>
</div>